@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Review

<h1>Add a new review</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ReviewerName)
  @Html.TextBoxFor(model => model.ReviewerName)
  @Html.LabelFor(model => model.ReviewText)
  @Html.TextBoxFor(model => model.ReviewText)
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating)
  @Html.HiddenFor(model => model.RestaurantId)
  <input type="submit" value="Add new review" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all restaurants", "Index", "Restaurants")</p>
