@{
  Layout = "_Layout";
}

@using BestRestaurants.Models
@model BestRestaurants.Models.Restaurant

<h2>Item Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</h3>

<h2>Reviews</h2>
@foreach (Review review in Model.Reviews)
{
  <li>@Html.ActionLink($"{review.ReviewerName}", "Details", "Reviews", new { id = review.ReviewId })</li>
}
<p>@Html.ActionLink("Add a review", "Create", "Reviews", new {id = Model.RestaurantId })</p>

<p>@Html.ActionLink("Back to restaurant list", "Index")</p>
<p>@Html.ActionLink("Edit restaurant", "Edit", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete restaurant", "Delete", new { id = Model.RestaurantId })</p>
