@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Restaurant>;

<h1>Restaurants</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">@Html.ActionLink("Restaurants", "Index", new { sortOrder = ViewBag.RestaurantSort })</th>
      <th scope="col">@Html.ActionLink("Cuisine", "Index", new { sortOrder = ViewBag.CuisineSort })</th>
    </tr>
  </thead>

  <tbody>
    @if (@Model.Count() == 0)
    {
      <h3>No restaurants have been added yet!</h3>
    }

    @foreach (Restaurant restaurant in Model)
    {
      <tr>
        <th scope="row">@Html.ActionLink($"{restaurant.Name}", "Details", new { id = restaurant.RestaurantId })</th>
        <td>@restaurant.Cuisine.Name</td>
      </tr>
    }
  </tbody>
</table>

<h3>Filter restaurants by Cuisine:</h3>
@using (Html.BeginForm())
{
  @Html.DropDownList("CuisineId")
  <input type="submit" value="Filter" class="btn btn-primary" />
}

<p>@Html.ActionLink("Add new restaurant", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>